body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  margin: 0;
  padding: 20px;
}

/* عنوان همیشه بالا می‌ماند */
h2 {
  text-align: center;
  margin-bottom: 20px;
}


form, .container {
  display: flex;
  flex-direction: column;
  width: 280px;          
  margin: 0 auto;         
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.user {
  display: flex;
  flex-direction: column;
}
label {
  display: block;
  margin-top: 10px;
  font-size: 14px;
}

input {
  width: 100%;
  padding: 7px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}


button {
  margin-top: 15px;
  padding: 8px;
  width: 20%;         
  background: #0a79d9;
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

button:hover {
  background: #0668bb;
}


.user-box {
  background: white;
  padding: 12px;
  margin: 10px auto;
  width: 300px;       
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.15);
}

.user-box button {
  padding: 6px 10px;
  font-size: 13px;
  margin-top: 8px;
  margin-right: 5px;
  width: auto;
}

